.login-inputForm {
  width: 100%;
}

.login-inputForm tr {
  display: block;
  margin-bottom: 10px;
}

.login-inputForm .registerForm {
  width: 500px;
  box-shadow: 1px 1px 1px #ced4da;
}

.login-inputForm td:first-child {
  width: 105px;
  text-align: right;
  padding-right: 10px;
}

.registerForm .form-control {
  width: 100%;
}

.buttonForm .registerButton {
  width: 250px;
  height: 48px;
  border-radius: 10px;
  background-color: #4DA91C;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, .5);
  font-weight: 600;
  color: #fff;
  margin : 20px auto 500px auto;
}