<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CMIC</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <style>
        .infoTable{
            margin: 0 auto;
        }
        .infoTable th{
            background-color: #D9D9D9;
        }
        .infoTable th,tr {

            border: 1px solid #D9D9D9;
            border-collapse: collapse;
        }
        .infoTable thead, tfoot{
            text-align:center;
        }

        #info_div{
	        width: 700px;

        }
        .infoListButton{
            text-decoration: none;
        }
        #infoOne_btn{
            margin: 0 auto;
        }

    </style>
</head>
<body>
    <div id="infoOne">
        <form id="carbonInfoForm" th:action="|/carbonInfo/carbonInfoDelete/${carbonInfo.infoNo}|" method="post">
            <table class="infoTable">
                <thead>
                <tr>
                    <th width="100" height="35" style="text-align: center;">제목</th>
                    <td colspan="3" height="35" th:text="${carbonInfo.infoTitle}"></td>
                </tr>
                <tr>
                    <th width="100" height="35" style="text-align: center;">작성일</th>
                    <td width="350" height="35" th:text="${carbonInfo.infoDate}"></td>
                    <th width="100" height="35" style="text-align: center;">조회수</th>
                    <td width="350" height="35" th:text="${carbonInfo.infoView}"></td>
                </tr>
                <tr>
                    <th width="100" height="35" style="text-align: center;">출처</th>
                    <td width="350" height="35" th:text="${carbonInfo.infoSource}"></td>
                    <th width="100" height="35" style="text-align: center;">작성자</th>
                    <td width="350" height="35" th:text="${carbonInfo.admin.adminJob}"></td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td width="100"></td>
                    <td colspan="3">
                        <br>
                        <br>
                        <div id="info_div" th:utext="${carbonInfo.infoContent}">

                        </div>
                        <br>
                        <br>
                    </td>
                </tr>
                <tr>
                    <th width="100" height="35" style="text-align: center;">첨부파일</th>
                    <td colspan="3"> <a th:if="${carbonInfo.carbonInfoFileList.infoFileName}"
                                        th:href="@{'/'+${carbonInfo.carbonInfoFileList.infoFileName}}">
                                        [[${carbonInfo.carbonInfoFileList.infoFileName}]]</a> </td>
                </tr>
                </tbody>
            </table>
            <div style="display:none">
                <input id="infoNoVal" name="infoNo" th:value="${carbonInfo.infoNo}">
                <input name="infoTitle" th:value="${carbonInfo.infoTitle}">
                <input name="infoDate" th:value="${carbonInfo.infoDate}">
                <input name="infoView" th:value="${carbonInfo.infoView}">
                <input name="adminNo" th:value="${carbonInfo.adminNo}">
                <input name="infoContent" th:value="${carbonInfo.infoContent}">
                <input name="infoSource" th:value="${carbonInfo.infoSource}">
                <input name="admin.adminJob" th:value="${carbonInfo.admin.adminJob}">
                <input name="infoFileName" th:value="${carbonInfo.carbonInfoFileList.infoFileName}">
                <input name="infoFilePath" th:value="${carbonInfo.carbonInfoFileList.infoFilePath}">

                로그인 되면 session.adminId 로 받아서 저장
                <input name="carbonInfoFileList.infoFileName" th:value="${carbonInfo.carbonInfoFileList.infoFileName}">
                <input name="carbonInfoFileList.infoFilePath" th:value="${carbonInfo.carbonInfoFileList.infoFilePath}">

            </div>

                <input id="deleteCarbonInfo" type="button" value="삭제">
                <button onclick="location.href='carbonInfo/carbonInfoList'">목록으로</button>
            <button id="modifyCarbonInfo" type="button" >수정</button>

        </form>


    </div>

    <script>
        const infoNo = $("#infoNoVal").val();

        $("#modifyCarbonInfo").click(function(){

            location.href="/carbonInfo/carbonInfoModifySelect/" + infoNo

        });

<!--        탄소정보글 삭제-->
      $("#deleteCarbonInfo").click(function(){

  		if(confirm("해당 게시글을 삭제 하시겠습니까?") == true){

            $("#carbonInfoForm").submit();

			}else{
				return false;
			}
        });

    </script>
</body>
</html>