<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lgUCamp.catchMe.Mapper.CarbonInfoMapper">

    <resultMap id="carbonInfo" type="com.lgUCamp.catchMe.DTO.CarbonInfo">
        <id column="info_no" property="infoNo"/>
        <result column="info_title" property="infoTitle" />
        <result column="info_date" property="infoDate" />
        <result column="info_view" property="infoView" />
        <result column="info_content" jdbcType="CLOB" javaType="java.lang.String" property="infoContent" />
        <result column="info_source" property="infoSource" />
        <result column="admin_no" property="adminNo" />
    </resultMap>

    <resultMap id="carbonInfoFile" type="com.lgUCamp.catchMe.DTO.CarbonInfoFile">
        <result column="info_no" property="infoNo"/>
        <result column="info_file_name" property="infoFileName"/>
        <result column="info_file_path" property="infoFilePath"/>
    </resultMap>

    <resultMap id="admin" type="com.lgUCamp.catchMe.DTO.Admin">
        <id column="admin_no" property="adminNo"/>
        <result column="admin_job" property="adminJob"/>
        <result column="adminId" property="adminId"/>
        <result column="adminPass" property="adminPass"/>
    </resultMap>
    
    <resultMap id="adminCarbonInfoFile" type="com.lgUCamp.catchMe.DTO.AdminCarbonFile">
        <id column="info_no" property="infoNo"/>
        <result column="info_title" property="infoTitle" />
        <result column="info_date" property="infoDate" />
        <result column="info_view" property="infoView" />
        <result column="info_content" jdbcType="CLOB" javaType="java.lang.String" property="infoContent" />
        <result column="info_source" property="infoSource" />
        <result column="admin_no" property="adminNo" />
        <association column="info_no" property="carbonInfoFileList"
                     javaType="com.lgUCamp.catchMe.DTO.CarbonInfoFile">
            <result column="info_no" property="infoNo" />
            <result column="info_file_name" property="infoFileName"/>
            <result column="info_file_path" property="infoFilePath" />
        </association>
        <association column="adminNo" property="admin"
                     javaType="com.lgUCamp.catchMe.DTO.Admin">
            <id column="admin_no" property="adminNo"/>
            <result column="admin_job" property="adminJob"/>
            <result column="adminId" property="adminId"/>
            <result column="adminPass" property="adminPass"/>
        </association>

    </resultMap>

<!--    <select id="carbonInfoList" resultType="com.lgUCamp.catchMe.DTO.CarbonInfo"-->
<!--                                resultMap="carbonInfo">-->
<!--        SELECT-->
<!--               INFO_NO-->
<!--             , INFO_TITLE-->
<!--             , INFO_DATE-->
<!--             , INFO_VIEW-->
<!--          FROM TBL_CARBON_INFO-->
<!--         ORDER BY INFO_NO DESC-->
<!--    </select>-->

    <select id="carbonInfoDetail" resultMap="adminCarbonInfoFile"
            resultType="com.lgUCamp.catchMe.DTO.AdminCarbonFile">
        SELECT
              A.INFO_NO
            , A.INFO_TITLE
            , A.INFO_DATE
            , A.INFO_VIEW
            , A.INFO_CONTENT
            , A.INFO_SOURCE
            , A.ADMIN_NO
            , B.INFO_FILE_NAME
            , B.INFO_FILE_PATH
            , C.ADMIN_ID
            , C.ADMIN_JOB
         FROM TBL_CARBON_INFO A
         LEFT OUTER JOIN TBL_CARBON_INFO_FILE B ON (A.INFO_NO = B.INFO_NO)
         JOIN TBL_ADMIN C ON (A.ADMIN_NO = C.ADMIN_NO)
        WHERE A.INFO_NO = #{infoNo}
    </select>

    <select id="carbonInfoModifySelect" resultMap="adminCarbonInfoFile"
            resultType="com.lgUCamp.catchMe.DTO.AdminCarbonFile">
        SELECT
              A.INFO_NO
            , A.INFO_TITLE
            , A.INFO_DATE
            , A.INFO_VIEW
            , A.INFO_CONTENT
            , A.INFO_SOURCE
            , A.ADMIN_NO
            , B.INFO_FILE_NAME
            , B.INFO_FILE_PATH
            , C.ADMIN_ID
            , C.ADMIN_JOB
         FROM TBL_CARBON_INFO A
         LEFT OUTER JOIN TBL_CARBON_INFO_FILE B ON (A.INFO_NO = B.INFO_NO)
         JOIN TBL_ADMIN C ON (A.ADMIN_NO = C.ADMIN_NO)
        WHERE A.INFO_NO = #{infoNo}
    </select>

    <insert id="carbonInfoInsert" parameterType="com.lgUCamp.catchMe.DTO.CarbonInfo">
        INSERT INTO TBL_CARBON_INFO
        (
        INFO_NO, INFO_TITLE, INFO_DATE
        , INFO_VIEW, INFO_CONTENT, INFO_SOURCE
        , ADMIN_NO
        )
        VALUES
        (
        SEQ_TBL_CARBON_INFO.NEXTVAL, #{infoTitle}, DEFAULT
        , DEFAULT, #{infoContent}, #{infoSource}
        , #{adminNo}
        )
    </insert>

    <update id="carbonInfoModify">
        UPDATE TBL_CARBON_iNFO
           SET INFO_TITLE = #{infoTitle},
               INFO_CONTENT = #{infoContent},
               INFO_SOURCE = #{infoSource}
        WHERE INFO_NO = #{infoNo}
    </update>

    <delete id="carbonInfoDelete">
        DELETE FROM TBL_CARBON_INFO
         WHERE INFO_NO = #{infoNo}
    </delete>

    <delete id="carbonInfoFileDelete">
        DELETE FROM TBL_CARBON_INFO_FILE
        WHERE INFO_NO = #{infoNo}
    </delete>

    <insert id="carbonInfoFileInsert">
        INSERT INTO TBL_CARBON_INFO_FILE
        (
          INFO_NO, INFO_FILE_NAME, INFO_FILE_PATH
        )
        VALUES
        (
          #{infoNo}, #{infoFileName}, #{infoFilePath}
        )
    </insert>

    <select id="carbonInfoNoSelect" resultType="int">
        SELECT
               INFO_NO
          FROM TBL_CARBON_INFO
         WHERE ROWNUM = 1
         ORDER BY INFO_NO DESC
    </select>

    <select id="carbonInfoList" resultMap="carbonInfo"
            resultType="com.lgUCamp.catchMe.DTO.CarbonInfo"
            parameterType="com.lgUCamp.catchMe.Controller.CarbonInfoPaging.SelectCriteria">

        SELECT
              A.RNUM
            , A.INFO_NO
            , A.INFO_TITLE
            , A.INFO_DATE
            , A.INFO_VIEW
            , A.INFO_CONTENT
            , A.ADMIN_NO
        FROM (SELECT  ROWNUM RNUM
                    , B.INFO_NO
                    , B.INFO_TITLE
                    , B.INFO_DATE
                    , B.INFO_VIEW
                    , B.INFO_CONTENT
                    , B.ADMIN_NO
                 FROM (SELECT
                              C.INFO_NO
                            , C.INFO_TITLE
                            , C.INFO_DATE
                            , C.INFO_VIEW
                            , C.INFO_CONTENT
                            , C.ADMIN_NO
                         FROM TBL_CARBON_INFO C
                        <where>
                            <if test="searchCondition == 'all'">
                                   C.INFO_TITLE LIKE '%' || #{ searchValue } || '%'
                                OR C.INFO_CONTENT LIKE '%' || #{ searchValue } || '%'
                            </if>
                            <if test="searchCondition == 'infoTitle'">
                                    C.INFO_TITLE LIKE '%' || #{ searchValue } || '%'
                            </if>
                            <if test="searchCondition == 'infoContent'">
                                    C.INFO_CONTENT LIKE '%' || #{ searchValue } || '%'
                            </if>
                        </where>
                            ORDER BY C.INFO_NO DESC
                         )B
                <![CDATA[
                        WHERE ROWNUM <= #{ endRow }
                      ]]>
                    )A
                    WHERE A.RNUM >= #{ startRow }
    </select>

    <select id="carbonInfoCount" resultType="int" parameterType="java.util.HashMap">
        SELECT COUNT(*)
          FROM TBL_CARBON_INFO
    </select>

</mapper>