<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lgUCamp.catchMe.Mapper.VideoMapper">
    <select id="videolist" resultType="com.lgUCamp.catchMe.DTO.VideoDTO">
        select * from tbl_video
    </select>

    <select id="Keyword_title_Videolist" parameterType="String" resultType="com.lgUCamp.catchMe.DTO.VideoDTO">
        select *
        from tbl_video
        where video_title like #{keyword}
    </select>

    <select id="Keyword_content_Videolist" parameterType="String" resultType="com.lgUCamp.catchMe.DTO.VideoDTO">
        select *
        from tbl_video
        where video_content like #{keyword}
    </select>

    <select id="Keyword_all_Videolist" parameterType="String" resultType="com.lgUCamp.catchMe.DTO.VideoDTO">
        SELECT *
        FROM tbl_video
        where video_content like #{keyword}
        or video_title like #{keyword}
    </select>





</mapper>