<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Challenge 인증게시판</title>
    <link href="header.css" type="text/css" rel="stylesheet">
</head>
<body>
<header>
    <div class="navi-login-wrapper">
        <div class="navi-login-wrap">
            <a href="login.html">로그인</a>
        </div>
    </div>
    <div class="navi-wrapper">
        <div class="navi-logo">
            <a href='#'><img src="img/logo.jpg"/></a>
        </div>
        <div class="navi-wrap">
            <div class="navi">
                <div class="navi-line"><a href="#">탄소발자국</a></div>
                <div class="highlight"></div>
            </div>
            <div class="navi">
                <div class="navi-line"><a href="#">챌린지</a></div>
                <div class="highlight"></div>
                <div class="dropdown">
                    <div class="sub-navi"><a href="#">챌린지</a></div>
                    <div class="sub-navi"><a href="#">인증 게시판</a></div>
                </div>
            </div>
            <div class="navi">
                <div class="navi-line"><a href="#">정보게시판</a></div>
                <div class="highlight"></div>
                <div class="dropdown">
                    <div class="sub-navi"><a href="#">영상관</a></div>
                    <div class="sub-navi"><a href="#">환경 정보</a></div>
                </div>
            </div>
        </div>
    </div>
</header>
<div>
    <h1>첼린지</h1>
</div>
<table border="1">
    <tr>
        <td colspan="3"><h3>첼린지 인증 게시판</h3></td>
    </tr>
    <tr>
        <td><a href=""><img src="img/logo.jpg" width="200" height="200" /></a></td><td><h2>가족끼리 LG전자 기후 위기대응 캠페인에 다녀왔어요!</h2>
    </tr>
    <tr>
        <td><a href=""><img src="img/logo.jpg" width="200" height="200" /></a></td><td><h2>가족끼리 LG전자 기후 위기대응 캠페인에 다녀왔어요!</h2>
    </tr>
    <tr>
        <td><a href=""><img src="img/logo.jpg" width="200" height="200" /></a></td><td><h2>가족끼리 LG전자 기후 위기대응 캠페인에 다녀왔어요!</h2>
    </tr>
    <tr>
        <td><a href=""><img src="img/logo.jpg" width="200" height="200" /></a></td><td><h2>가족끼리 LG전자 기후 위기대응 캠페인에 다녀왔어요!</h2>
    </tr>
    <tr>
        <td><a href=""><img src="img/logo.jpg" width="200" height="200" /></a></td><td><h2>가족끼리 LG전자 기후 위기대응 캠페인에 다녀왔어요!</h2>
    </tr>
    <tr>
        <td><a href=""><img src="img/logo.jpg" width="200" height="200" /></a></td><td><h2>가족끼리 LG전자 기후 위기대응 캠페인에 다녀왔어요!</h2>
    </tr>
    <tr>
        <td><a href=""><img src="img/logo.jpg" width="200" height="200" /></a></td><td><h2>가족끼리 LG전자 기후 위기대응 캠페인에 다녀왔어요!</h2>
    </tr>
    <tr>
        <td><a href=""><img src="img/logo.jpg" width="200" height="200" /></a></td><td><h2>가족끼리 LG전자 기후 위기대응 캠페인에 다녀왔어요!</h2>
    </tr>
</table>
<button>글쓰기</button>
<div>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
<h3>  페이징 << <1 2 3 4 5 > >> </h3>


</body>
</html>