<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="css/header.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap"rel="stylesheet">

</head>
<body>
  <header>
    <div class="navi-login-wrapper">
      <div class="navi-login-wrap">
        <a href="login.html">로그인</a>
      </div>
    </div>
    <div class="navi-wrapper">
      <div class="navi-logo">
        <a href='#'><img src="img/logo.jpg"/></a>
      </div>
      <div class="navi-wrap">
        <div class="navi">
          <div class="navi-line"><a href="#">탄소발자국</a></div>
          <div class="highlight"></div>
        </div>
        <div class="navi">
          <div class="navi-line"><a href="#">챌린지</a></div>
          <div class="highlight"></div>
          <div class="dropdown">
            <div class="sub-navi"><a href="#">챌린지</a></div>
            <div class="sub-navi"><a href="#">인증 게시판</a></div>
          </div>
        </div>
        <div class="navi">
          <div class="navi-line"><a href="#">정보게시판</a></div>
          <div class="highlight"></div>
          <div class="dropdown">
            <div class="sub-navi"><a href="#">영상관</a></div>
            <div class="sub-navi"><a href="#">환경 정보</a></div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div>
    <h1>첼린지</h1>
  </div>
  <div>
    <span>오늘의 첼린지</span><img src="/img/logo.jpg" width="200" height="200" /> <sapn>첼린지 설명</sapn>
  </div>
  <table border="1" >
    <tr>
      <td colspan="2">첼린지 인증게시판</td>
    </tr>
    <tr th:each="chCertify:${chCertifys}">
      <td>
        <a href="/Challenge/Challenge_certify_comment">
          <img th:src="|/img/${chCertify.cProofImg}|" width="50" height="50" />
        </a>
      </td>
      <td>[[${chCertify.cProofTitle}]]</td>
    </tr>

  </table>

      <a href="/Challenge/Challenge_certify_writeform"><button>글쓰기</button></a>


      <div>
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>
      <h3>  페이징 << <1 2 3 4 5 > >> </h3>
  
</body>
</html>